<!--List of Users Template-->
<div>
    <h3>{{ 'List of users' }}</h3>
    <ul>
        <li ng-repeat="(key, value) in users">
            <a href="javascript:void(0)" ng-click="onUserSelect(value['name'] )"> {{ value['name'] }} </a>

        </li>
    </ul>
    <h3> <i> {{ selectedUser }} </i></h3>
</div>


<!-- Calc Template -->
<div class="balance-template">

    <h3>{{ 'Calculate' }}</h3>

    <ul>
        <li ng-repeat="(key, value) in users">

            <a href="javascript:void(0)" ng-click="handleOnClick(value['name'] )"> {{ value['name'] }} </a>

            <select ng-model="ItemsCtrl.latestBid">
                <option ng-repeat=" value in users" value="12"> {{ value['balance'] }} <option>
            </select>

        </li>
    </ul>

</div>
